LEGACY/
ckpt_logs/
log/
results/
scripts/__pycache__/
scripts/diffusion/__pycache__/
scripts/maploader/__pycache__/
scripts/models/__pycache__/
scripts/utils/__pycache__/
evaluation/visualize/__pycache__/
run/__pycache__/
run/threeconv/__pycache__/
tests/__pycache__/
run/Unet/__pycache__/